<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #f0f0f0;
            background: linear-gradient(to right, #4e54c8, #8f94fb);
            text-align: center;
            padding-top: 16%;
        }
        h1 {
            font-size: 3em;
            color: #FFD700;
        }
        p, a {
            font-size: 1.2em;
            color: #f0f0f0;
            text-decoration: none;
        }
        a:hover {
            color: #FFD700;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <p>We're delighted to see you here.</p>
    <a href="{{ url_for('form') }}"><u><i>Get Started</i></u></a>
</body>
</html>